
<style>
    .CustomHead {
        background: linear-gradient(#00acc1 25%,#1976d2);
        color: #ffffff;
    }

    .uk-table td, .uk-table th {
        padding: 8px 8px;
        border-bottom: 1px solid #ddd
    }

    .uk-table th {
        text-align: left;
    }

    .uk-table td {
        vertical-align: top

    }

    .uk-table thead th {
        vertical-align: bottom
    }

    uk-width-medium-1-2 {
        width: 50%;
    }

    uk-width-medium-1-2 {
        box-sizing: border-box;
        width: 100%
    }

    .div-left {
        /* color: #000; */
        /* width: auto; */
        float: left;
        /* height: auto; */
    }

    .div-right {
        /* color: #000; */
        /* width: auto; */
        float: right;
    }

  /*   container-fluid {
        display: grid;
    } */

    footer {
        visibility: hidden;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
    }
</style>


<body>


    <div class="container">
       <div class="row">

        <div class="col-md-7">
            <h3>Order Information</h3>

            <table class="uk-table">

                <tbody>
                    <tr >
                        <td>
                        <label>
                            <strong>PI No.</strong>
                        </label>
                        <label style="float:right">1340 (b)</label>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <span style="margin-right:50px;"><label>
                                <strong>Payment Mode</strong>
                            </label></span>
                            <label style="float:right">100% Advance</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <strong>PI Date</strong>
                            </label>
                            <label style="float:right">01-Aug-2023</label>
                        </td>
                    </tr>

                </tbody>
               

            </table>

        </div>

        <div class="col-md-5">
            

            <table class="uk-table">

                <tbody>
                    <tr>
                        <td>
                            <label>
                                <strong>PI No.</strong>
                            </label>
                            <label style="float:right">1340 (b)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <strong>Payment Mode</strong>
                            </label>
                            <label style="float:right">100% Advance</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <strong>PI Date</strong>
                            </label>
                            <label style="float:right">01-Aug-2023</label>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>
       
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-7">
            <h3>Order</h3>

            <table class="uk-table">

                <tbody>
                    <tr class="CustomHead">
                        <th>Model</th>
                        <th>Qty</th>
                        <th>Unit Price</th>
                        <th>PI Value</th>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Tecno - Spark 10C (128+4) </td>
                        <td>700</td>
                        <td>27,709</td>
                        <td>19,396,300</td>

                    </tr>
                </tbody>

            </table>

        </div>

            <div class="col-md-5">
            <h3>Payment History</h3>

            <table class="uk-table">

                <tbody>
                    <tr class="CustomHead">
                        <th>Date</th>
                        <th>Amount</th>
                        <th>RTGS No.</th>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Tecno - Spark 10C (128+4) </td>
                        <td>700</td>
                        <td>27,709</td>


                    </tr>
                </tbody>

            </table>

        </div>
       </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Delivery Information</h3>

            <table class="uk-table">

                <tbody>
                    <tr class="CustomHead">
                        <th>DC No.</th>
                        <th>Date</th>
                        <th>Model</th>
                        <th>Qty</th>
                        <th>Color</th>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>15838 </td>
                        <td>19-Sep-2023</td>
                        <td>Spark 10C (128+4)</td>
                        <td>10</td>
                        <td>Meta Black</td>

                    </tr>
                </tbody>

            </table>
        </div>

        <div class="col-md-6"></div>
    </div>
    </div>
</body>